.navigation-menu a {
  text-decoration: none;
  box-shadow: 0 1px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.readhere span,
.readhere a {
  font-weight: bold;
}

.readhere span a {
  text-decoration: none;
}

.readhere a:not(span a) {
  /* color: var(--accent); */
}

span.accent-link {
  /* color: var(--accent); */
}

a:has(span.accent-link) {
  text-decoration: none;
  box-shadow: 0 1px var(--accent);
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

a:has(span.accent-link):hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--accent);
  box-shadow: none;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

img.post-cover {
  width: 100%;
  height: 100%;
  /* height: auto; */
}

.post-meta .post-description {
  margin-top: 10px;
}

.post-meta .post-description::before {
  display: none;
}

@media (max-width: 600px) {
  .post-cover {
    border-width: 10px;
    padding: 10px;
  }
}
