<meta name="darkreader-lock">

<style>
  :root {
    --background: rgb(29, 30, 32);
  }

  /* body.orange {
    --accent: #FFA86A;
  } */

  /* body.blue {
    --accent: #23B0FF;
  } */

  /* body.red {
    --accent: #FF6266;
  } */

  /* body.green {
    --accent: #78E2A0;
  } */

  body.pink {
    --accent: #fff;
    /* --accent: #EE72F1; */
  }

  /* re-Green Theme */
  :root {
    /* --accent: #33FF00; */
    /* --accent: #33FF33; */
    /* --accent: #00FF33; */
    /* --accent: #66FF66; */
    /* --accent: #00FF66; */
    /* --accent: #cccccc; */
  }
</style>

{{- $customCSS := resources.Get "css/custom.css" }}
<link rel="preload" as="style" onload="this.rel='stylesheet'" type="text/css" href="{{ $customCSS.RelPermalink }}?v=3">