    <link rel="icon" href="{{ site.Params.favicon | absURL }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.Params.apple_touch_icon | absURL }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.Params.fav32px | absURL }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.Params.fav16px | absURL }}">
    <!-- <link rel="manifest" href="{{"site.webmanifest" | absURL}}"> -->
    <link rel="mask-icon" href="{{ .Site.Params.safari_pinned_tab | absURL }}">